<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/97b4b822-cd31-4af8-8697-a423dbec87d2/resourceGroups/Fa24-Assn2-zjrowell-resourcegroup/providers/Microsoft.Web/sites/Fall24-Assn2-zjrowell</ResourceId>
    <ResourceGroup>Fa24-Assn2-zjrowell-resourcegroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://fall24-assn2-zjrowell.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://fall24-assn2-zjrowell.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Fall24-Assn2-zjrowell</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>